@model MediRed.Models.History

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>History</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Patient.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientIdentification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientIdentification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientBloodType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientBloodType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hypertension)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hypertension)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diabetes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diabetes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HistoryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
