@model IEnumerable<MediRed.Models.History>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Patient.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientIdentification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientBloodType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hypertension)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Diabetes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Patient.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientIdentification)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientBloodType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hypertension)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Diabetes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HistoryId }) |
            @Html.ActionLink("Details", "Details", new { id=item.HistoryId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HistoryId })
        </td>
    </tr>
}

</table>
