<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/img/logo-sub2.png" />
    <title>@ViewBag.Title - MediRed</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-light navbar-fixed-top" style="background-color: #e3f2fd;">
        <div class="container">
            <div class="navbar-header">
                <div class="container col-lg-1">
                    <a href="@Url.Action("Index", "Home")" title="Página principal" class="links">                        
                        <img src="~/img/logo-re.png" style="height:50px; width:100px;"/>
                    </a>
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <ul class="nav navbar-nav navbar-right">
                        @if(ViewBag.userRoles != null) {
                            if (ViewBag.userRoles.Count == 1 && ViewBag.userRoles.Contains("Paciente"))
                            {
                                <li class="k-dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">¿Qué desea hacer?<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <li class="">@Html.ActionLink("Historial del Paciente", "Index", "Histories")</li>
                                    </ul>
                                </li>
                                 <li class="k-dropdown">
                                    @Html.ActionLink("Crear Atención", "Index", "Attentions")
                                </li>
                            }
                            else
                             if (ViewBag.userRoles.Count == 1 && ViewBag.userRoles.Contains("Medico"))
                            {
                                <li class="k-dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Opciones<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <li class="">@Html.ActionLink("Pacientes", "Index", "Patients")</li>
                                        <li class="">@Html.ActionLink("Medicamentos", "Index", "Medicines")</li>
                                        <li class="">@Html.ActionLink("Diagnósticos", "Index", "Diagnostics")</li>
                                        <li class="">@Html.ActionLink("Tratamientos", "Index", "Treatments")</li>
                                    </ul>
                                </li>
                                <li class="k-dropdown">
                                    @Html.ActionLink("Crear Atención", "Index", "Attentions")
                                </li>
                            }else
                            {
                                <li class="k-dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mantenedores<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <li class="">@Html.ActionLink("Prestadores de Salud", "Index", "Providers")</li>
                                        <li class="">@Html.ActionLink("Previsión de Salud", "Index", "Wellfares")</li>
                                        <li class="">@Html.ActionLink("Centros de Atención", "Index", "AtentionCenters")</li>
                                        <li class="">@Html.ActionLink("Laboratorios", "Index", "Laboratories")</li>                                        
                                        <li class="">@Html.ActionLink("Medicamentos", "Index", "Medicines")</li>
                                        <li class="">@Html.ActionLink("Diagnósticos", "Index", "Diagnostics")</li>
                                        <li class="">@Html.ActionLink("Tratamientos", "Index", "Treatments")</li>
                                        <li class="">@Html.ActionLink("Médicos", "Index", "Medics")</li>
                                        <li class="">@Html.ActionLink("Tecnólogo", "Index", "Technologists")</li>
                                        <li class="">@Html.ActionLink("Especialidades Médicas", "Index", "Specialities")</li>
                                        <li class="">@Html.ActionLink("Pacientes", "Index", "Patients")</li>
                                        <li class="">@Html.ActionLink("Países", "Index", "Countries")</li>
                                    </ul>
                                </li>
                               
                                @*<li class="k-dropdown">
                                    @Html.ActionLink("Asignar Roles a Usuarios", "Index", "SetRoles")
                                </li>*@
                            }
                        }
                    </ul>
                </ul>             
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Medired - Todos los derechos reservados</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
