@model MediRed.Models.UserViewModel

@{
    ViewBag.Title = "Roles";
}

<h2>Roles del Usuario : @Model.UserName</h2>
<br>
<p>
    En este menú, puede agregar un rol existente al Usuario seleccionado, o si se requiere, remover un rol del mismo
</p>
<br />
<h4>Lista de roles asignados al usuario</h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Roles.First().RoleName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Roles)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                @Html.ActionLink("Asignar un nuevo rol al usuario", "AddRole", new { id = Model.UserId }) | 
                @Html.ActionLink("Eliminar", "DeleteRole", new { userId = Model.UserId, roleId = item.RoleId })
            </td>
        </tr>
    }
</table>
<br />
<p>
    @Html.ActionLink("Volver", "Index")
</p>