@model IEnumerable<MediRed.Models.Notification>

@{
    ViewBag.Title = "Notificaciones";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Notificación", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
      
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.NotificationId }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.NotificationId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.NotificationId })
        </td>
    </tr>
}

</table>
