@model MediRed.Models.Attention

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Attention</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Diagnostic.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diagnostic.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.History.PatientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.History.PatientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medic.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medic.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AttentionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
