@model MediRed.Models.Wellfare

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Previsión</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.detail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.detail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.WellfareId }) |
    @Html.ActionLink("Volver", "Index")
</p>
