@model IEnumerable<MediRed.Models.Wellfare>

@{
    ViewBag.Title = "Index";
}

<h2>Previsión de Salud</h2>

<p>
    @Html.ActionLink("Agregar una nueva previsión de salud", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.detail)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.detail)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.WellfareId }) |
            @Html.ActionLink("Detallles", "Details", new { id=item.WellfareId }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.WellfareId })
        </td>
    </tr>
}

</table>
