@model IEnumerable<MediRed.Models.Country>

@{
    ViewBag.Title = "Index";
}

<h2>Paises</h2>

<p>
    @Html.ActionLink("Crear un nuevo registro de país", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Nombre
        </th>
        <th>
           Detalles
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Detail)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.CountryId }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.CountryId }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.CountryId })
        </td>
    </tr>
}

</table>
