@model IEnumerable<MediRed.Models.Treatment>

@{
    ViewBag.Title = "Index";
}

<h2>Tratamientos</h2>

<p>
    @Html.ActionLink("Agregar nuevo tratamiento", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Detail)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Detail)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.TreatmentId }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.TreatmentId }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.TreatmentId })
        </td>
    </tr>
}

</table>
