@model MediRed.Models.Laboratory

@{
    ViewBag.Title = "Eliminar Laboratorio";
}

<h2>Eliminar Laboratorio</h2>

<h3>Estás seguro que quieres eliminar esto?</h3>
<div>
    <h4>Laboratory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameLab)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameLab)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DirLab)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DirLab)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.MedicalSpeciality)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.MedicalSpeciality)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.PhoneLab)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneLab)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
