@model MediRed.Models.Laboratory

@{
    ViewBag.Title = "Detalles Laboratorio";
}

<h2>Detalles Laboratorio</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameLab)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameLab)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DirLab)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DirLab)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.MedicalSpeciality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicalSpeciality)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.PhoneLab)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneLab)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.LabId }) |
    @Html.ActionLink("Volver", "Index")
</p>
