@model IEnumerable<MediRed.Models.Diagnostic>

@{
    ViewBag.Title = "Index";
}

<h2>Diagnósticos</h2>

<p>
    @Html.ActionLink("Crear un nuevo diagnóstico", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tratamiento
        </th>
        <th>
            Diagnóstico
        </th>
        <th>
            Valor Crítico
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Treatment.Detail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RedDiagnostic)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.DiagnosticId }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.DiagnosticId }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.DiagnosticId })
        </td>
    </tr>
}

</table>
