@model MediRed.Models.AtentionCenter

@{
    ViewBag.Title = "Detalles Centro de Atención";
}

<h2>Detalles Centro de Atención</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameCenter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameCenter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DirCenter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DirCenter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneCener)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneCener)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.CenterId }) |
    @Html.ActionLink("Volver", "Index")
</p>
