@model IEnumerable<MediRed.Models.AtentionCenter>

@{
    ViewBag.Title = "Index";
}

<h2>Centros de Atención</h2>

<p>
    @Html.ActionLink("Crear un nuevo centro de atención", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Centro de Atención
        </th>
        <th>
           Dirección
        </th>
        <th>
            Teléfono
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Provider.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneCener)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.AtentionCenterId }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.AtentionCenterId }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.AtentionCenterId })
        </td>
    </tr>
}

</table>
