@model IEnumerable<MediRed.Models.AtentionCenter>

@{
    ViewBag.Title = "Centros de Atención";
}

<h2>Centros de Atención</h2>

<p>
    @Html.ActionLink("Agregar Centro de Atención", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre del Centro
        </th>
        <th>
            Dirección
        </th>
        <th>
            Teléfono
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameCenter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DirCenter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneCener)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.CenterId }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.CenterId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.CenterId })
        </td>
    </tr>
}

</table>
